name: Check

on:
  push:
  pull_request:

jobs:
  lint:[]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: src/go.mod
          cache: true
          cache-dependency-path: src/go.sum

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          working-directory: src
          args: --timeout=5m -D errcheck

  test:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: src
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: src/go.mod
          cache: true
          cache-dependency-path: src/go.sum

      - name: Run tests
        run: go test ./...
